@import "../../../../variables.scss";
.postForm {
  border-top: solid silver 1px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  &__inputAndSubmit {
    display: flex;
  }
  input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
  }
  button {
    color: var(--primary-color);
    &:disabled {
      opacity: 0.5;
    }
  }
}
