@import "../../variables.scss";
.followButton {
  padding: 7px 15px;
  color: $light-color;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-left: 20px;
  border: solid transparent 1px;
  &.followButton--followed {
    color: var(--primary-color);
    background-color: white;
    border: solid var(--primary-color) 1px;
  }
}
