@import "../../../variables.scss";
.navBarCreatePostBtn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  color: $medium-color;
  border: solid $border-color 1px;
  transition: background 300ms ease-in-out, color 300ms ease-in-out,
    border 300ms ease-in-out;
  font-size: 1.2rem;
  &:hover {
    background-color: var(--primary-color);
    color: $light-color;
    border: solid transparent 1px;
  }
}
