@import "../../../variables.scss";
.navBarCreatePostBtn {
  width: var(--navBar-btn-size);
  height: var(--navBar-btn-size);
  background: none;
  border: none;
  border-radius: var(--navBar-btn-b-radius);
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  color: var(--primary-color);
  border: solid var(--primary-color) 3px;
  font-size: 1.2rem;
}
