.settingsPage {
  position: relative;
  width: 100%;
  border: solid var(--primary-border-color) 1px;
  background: white;
  border-radius: var(--primary-border-radius);
  overflow: hidden;
  &__container {
    display: flex;
    @media (max-width: 980px) {
      flex-direction: column;
    }
  }
}
