.postUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid var(--primary-border-color) 1px;
  &__container {
    display: flex;
    align-items: center;
  }
  &__usernameLink {
    color: var(--secondary-color);
    text-decoration: none;
    margin-right: 15px;
  }
  &__moreOptionsBtn {
    padding: 5px;
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin-left: 20px;
  }
  &__profileImageLink {
    margin-right: 15px;
    border-radius: var(--profile-picture-border-radius);
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: silver;
  }
}
