.postUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  &__container {
    display: flex;
    align-items: center;
    a {
      color: var(--secondary-color);
      text-decoration: none;
    }
  }
  &__moreOptionsBtn {
    padding: 5px;
    font-size: 1.1rem;
    color: var(--secondary-color);
  }
  img {
    margin-right: 15px;
    border-radius: 50%;
  }
}
