.mobileComments {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 200;
  border-top: solid silver 1px;
  @media (max-width: 980px) {
    display: flex;
  }
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 201;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn 300ms;
  }
  &__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    bottom: 0;
    background-color: white;
    z-index: 202;
    animation: slideInFromBottom 300ms;
  }
  &__header {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: solid silver 1px;
    h2 {
      color: var(--secondary-color);
      font-size: 1.5rem;
    }
    i {
      font-size: 1.5rem;
      color: var(--secondary-color);
    }
  }
  &__closeBtn {
    width: 30px;
    height: 30px;
  }
  &__handle {
    display: none;
    width: 100%;
    min-height: 40px;
    background-color: #e0e0e0;
    justify-content: center;
  }
  &__handleGrab {
    width: 50px;
    height: 5px;
    border-radius: 500px;
    background-color: rgb(137, 137, 137);
    margin-top: 10px;
  }
  &__description {
    display: flex;
    width: 100%;
    font-size: 14px;
  }
  &__descriptionUser {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      border-radius: var(--primary-border-radius);
    }
    a {
      color: var(--primary-color);
      font-weight: bold;
      text-decoration: none;
    }
  }
  &__descriptionText {
    margin-top: 10px;
    white-space: pre-line;
  }
  &__form {
    position: relative;
    border-bottom: solid silver 1px;
    padding: 0 5px;
  }
  &__comments {
    position: relative;
    flex: 1;
  }
  &__commentsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 15px;
  }
  &__loadMoreCommentsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    margin: 10px auto;
    color: var(--secondary-color);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateX(0);
  }
}
