@import "../../variables";
.inputGroup {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: calc(var(--primary-border-radius) / 2);
    border: solid var(--input-border-color) 1px;
    font-size: 1rem;
    background-color: $input-background;
  }
  input.invalidInput {
    border: solid $invalid-color 1px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: $medium-color;
  }
}
