@import "../../variables.scss";
.postModal {
  position: relative;
  display: flex;
  z-index: $postModalZ;
  max-width: 1500px;

  margin: auto;
  animation: fadeIn 200ms;
  @media (max-width: 1900px) {
    max-width: 90%;
  }
  &__container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__closeBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    font-size: 3rem;
    color: white;
    margin: 20px;
    z-index: $postModalZ;
  }
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100;
    @media (max-width: 980px) {
      display: none;
    }
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
  }
  &__ctrl {
    position: absolute;
    width: 35px;
    height: 35px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    z-index: $postModalZ;
    @media (max-width: 980px) {
      display: none;
    }
    &.ctrl--prev {
      left: 20px;
    }
    &.ctrl--next {
      right: 20px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
