.feedPost {
  margin-bottom: 40px;
  min-width: 100%;
  background-color: white;
  border: solid silver 1px;
  border-radius: 10px;
  overflow: hidden;
  &:last-of-type {
    margin-bottom: 0;
  }
  @media (max-width: 620px) {
    border: none;
    border-top: solid silver 1px;
    border-bottom: solid silver 1px;
  }
}
