.comment {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  animation: fadeIn 300ms;
  &:first-of-type {
    margin-top: 5px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &__container {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid rgb(236, 236, 236) 1px;
    padding: 10px 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &__body {
    width: 100%;
    font-size: 14px;
  }
  &__profileImg {
    border-radius: 50%;
  }
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}
