.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__user {
    display: flex;
    align-items: center;
  }
  &__username {
    color: var(--secondary-color);
    text-decoration: none;
  }
  &__profileImgLink {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    color: var(--seconday-color);
  }
  &__profileImage {
    border-radius: var(--profile-picture-border-radius);
    width: 35px;
    height: 35px;
  }
  &__follow {
    padding: 7px 15px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}
