@import "../../../../variables.scss";
.postComments {
  position: relative;
  border-top: solid silver 1px;
  border-bottom: solid silver 1px;
  padding: 15px;
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  &__container {
    position: relative;
    height: 100%;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &__loginMessage {
    color: var(--secondary-color);
    a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}
