.postComments {
  position: relative;
  border-top: solid silver 1px;
  border-bottom: solid silver 1px;
  padding: 15px;
  flex-grow: 1;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
