@import "../../../../variables.scss";
.postComments {
  position: relative;
  flex-grow: 1;
  min-height: 0;
  &__container {
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    display: block;
    padding: 0 15px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &__loginMessage {
    color: var(--secondary-color);
    a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
  &__loadMoreCommentsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    margin: 10px auto;
    color: var(--secondary-color);
  }
}
