.commentUserAndText {
  position: relative;
  width: 100%;
  a {
    margin-right: 5px;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    float: left;
  }
  &__text {
    position: relative;
    width: 100%;
    word-wrap: break-word;
    display: block;
  }
  &__showMoreBtn {
    font-size: 0.8rem;
    margin-left: 5px;
    font-weight: bold;
    color: #555;
    &:hover {
      text-decoration: underline;
    }
  }
}
