.search {
  position: relative;
  display: block;
  @media (max-width: 980px) {
    display: none;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0px 10px;
    border-radius: var(--primary-border-radius);
    border: solid var(--primary-border-color) 1px;
    i {
      color: var(--medium-color);
    }
  }
  &__input {
    margin: 0 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
  }
  &__results {
    position: absolute;
    border: solid var(--primary-border-color) 1px;
    width: 100%;
    padding: 5px;
    background-color: white;
    z-index: 100;
    border-bottom-left-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    max-height: 300px;
    overflow-y: scroll;
  }
  &__result {
    img {
      border-radius: var(--profile-picture-border-radius);
    }
    a {
      display: flex;
      gap: 10px;
      color: black;
      align-items: center;
      padding: 7px;
    }
  }
}
