@import "../../variables.scss";
.navBar {
  --navBar-btn-size: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid $border-color 1px;
  background: #fff;
  padding: 10px 20px;
  z-index: 10;
  @media (max-width: 980px) {
    padding: 7px 15px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 950px;
  }
  &__buttonsAndLinks {
    display: flex;
    align-items: center;
    .navBar__link {
      padding: 7px 10px;
      color: $light-color;
      background-color: var(--primary-color);
      text-decoration: none;
      border-radius: 5px;
      margin-right: 10px;
    }
    .navBar__link:last-child {
      color: var(--primary-color);
      background-color: transparent;
      margin-right: 0px;
    }
  }
}
