@import '../../variables.scss';
.navBar {
  position: fixed;
  width: 100%;
  border-bottom: solid $border-color 1px;
  background: #fff;
  padding: 12px 20px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 950px;
  }
  &__buttonsAndLinks {
    display: flex;
    align-items: center;
    .navBar__link {
      padding: 7px 10px;
      color: $light-color;
      background-color: $primary-color;
      text-decoration: none;
      border-radius: 5px;
      margin-right: 10px;
    }
    .navBar__link:last-child {
      color: $primary-color;
      background-color: transparent;
      margin-right: 0px;
    }
  }
}
