@import "../../globals";
@import "../../variables";
.loginMain {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  max-width: 350px;
}
.login {
  --marginBottom: 20px;
  background-color: $light-color;
  border: solid $border-color 1px;
  padding: 45px;
  text-align: center;
  border-radius: var(--primary-border-radius);
  &__form {
    margin-top: 30px;
  }
  &__logo {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    margin-bottom: var(--marginBottom);
  }
  &__message {
    color: $medium-color;
    font-size: $HTwoFontSize;
    margin-bottom: var(--marginBottom);
  }
  &__submit {
    display: block;
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: $light-color;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
  }
  &__submit:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &__forgotPassword {
    display: block;
    text-align: right;
    color: var(--primary-color);
    font-weight: bold;
  }
  &__errorMessage {
    color: $invalid-color;
    margin-top: 40px;
  }
  &__register {
    background-color: $light-color;
    border: solid $border-color 1px;
    padding: 25px;
    text-align: center;
    margin-top: 20px;
    border-radius: var(--primary-border-radius);
    a {
      color: var(--primary-color);
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media screen and (max-height: 750px) {
  .loginMain {
    position: relative;
    margin: 20px auto;
    transform: translateY(0);
  }
}
