.chooseFileStage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#file {
  display: none;
}

.chooseFileStage__chooseBtn {
  display: flex;
  align-items: center;
  background: var(--primary-gradient-bg);
  padding: 15px 20px;
  border-radius: var(--primary-btn-border-radius);
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  transition: opacity 200ms ease-in-out;
}

.chooseFileStage__chooseBtn:hover {
  opacity: 0.8;
}

.chooseFileStage i {
  font-size: 1.2rem;
  margin-right: 10px;
}
