.footer {
  position: relative;
  width: 100%;
  padding: 60px 0 60px 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  &__social {
    display: flex;
    gap: 10px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-color);
      font-size: 1.8rem;
      opacity: 1;
      width: 30px;
      height: 30px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  p {
    color: var(--secondary-color);
    font-size: 1rem;
    a {
      color: var(--primary-color);
      font-weight: bold;
      text-decoration: none;
    }
  }
}
