.profilePosts {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  @media (max-width: 980px) {
    gap: 5px;
  }
  &__post {
    position: relative;
    display: flex;
    max-width: 293px;
    max-height: 293px;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: silver;
    &:focus .profilePosts__postOverlay {
      opacity: 1;
    }
  }
  &__post:hover .profilePosts__postOverlay {
    opacity: 1;
  }
  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__postOverlay {
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.4rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    @media (max-width: 980px) {
      display: none;
    }
    i {
      margin-right: 5px;
    }
  }
  &__postsLikes {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
