.optionsModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--optionsModalZ);
  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--optionsModalBackdropZ);
    background-color: rgba(0, 0, 0, 0.6);
  }
  &__container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    z-index: var(--optionsModalContainerZ);
    background-color: white;
    text-align: center;
    @media (max-width: 980px) {
      max-width: 90%;
    }
    p {
      margin-top: 20px;
    }
  }
  &__option {
    display: block;
    padding: 15px;
    width: 100%;
    border-top: solid silver 1px;
    &.optionsModal__red-option {
      color: red;
      font-weight: 700;
    }
    &:active {
      background-color: silver;
    }
  }
  &__confirmMessage {
    padding: 20px;
  }
}
