.usernameAndName {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: white;
  border: solid silver 1px;
  margin-bottom: 30px;
  border-radius: 10px;
  img {
    border-radius: 10px;
  }
  a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  }
  p {
    color: grey;
    text-transform: capitalize;
    margin-top: 4px;
  }
}
