.usernameAndName {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: white;
  border: solid var(--primary-border-color) 1px;
  margin-bottom: 30px;
  border-radius: var(--primary-border-radius);
  &__profileImageLink {
    width: 60px;
    height: 60px;
  }
  &__profileImage {
    border-radius: var(--profile-picture-border-radius);
  }
  &__usernameLink {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  }
  &__name {
    color: grey;
    text-transform: capitalize;
    margin-top: 4px;
  }
}
