@import "../../variables.scss";
.post {
  position: relative;
  display: flex;
  margin: 0 auto;
  border: solid silver 1px;
  @media (max-width: 980px) {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto 0 auto;
  }
}
