@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $site-background;
}

h1,
h2,
h3 {
  font-weight: 600;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  &:disabled {
    cursor: not-allowed;
  }
}

input,
button,
textarea {
  font-size: 1rem;
}
