@import "./variables";

:root {
  //site
  --site-background: #fafafa;
  // navbar height
  --navbar-height: 59px;
  --navbar-height-mobile: 60px;
  // colors
  --primary-color: rgb(14, 127, 165);
  --secondary-color: #264653;
  --tertiary-color: #182d35;
  --light-color: #fff;
  --medium-color: silver;
  // border colors
  --border-color: var(--medium-color);
  --border-color-active: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: $site-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 600;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

input,
button,
textarea {
  font-size: 1rem;
}

textarea {
  border: none;
  background: none;
}
