@import "../../globals";
@import "../../variables";
.resetPasswordPageMain {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
  max-width: 350px;
}
.resetPasswordPage {
  --marginBottom: 20px;
  background-color: $light-color;
  border: solid var(--primary-border-color) 1px;
  padding: 45px;
  text-align: center;
  border-radius: var(--primary-btn-border-radius);
  &__form {
    margin-top: 30px;
  }
  &__submit {
    display: block;
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--light-color);
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
  }
  &__submit:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &__resultMessage {
    color: var(--secondary-color);
    margin-top: 40px;
    &.error {
      color: var(--invalid-color);
    }
  }
  &__loginLink {
    display: block;
    color: var(--primary-color);
    font-weight: bold;
    margin-top: 15px;
  }
}

@media screen and (max-height: 750px) {
  .resetPasswordPageMain {
    position: relative;
    margin: 20px auto;
    transform: translateY(0);
  }
}
