.homeContainer {
  position: relative;
  display: flex;
  gap: 30px;
  @media (max-width: 980px) {
    margin-top: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 620px) {
    width: 100%;
  }
  &__sidePanel {
    position: relative;
    width: 450px;
    @media (max-width: 980px) {
      display: none;
    }
  }
  &__sidePanelContainer {
    position: sticky;
    top: calc(var(--navbar-height) + 35px);
  }
}
