@import '../variables.scss';
.mainContainer {
  position: relative;
  max-width: 940px;
  margin: calc($navbar-height + 35px) auto 0 auto;
  @media (max-width: 980px) {
    margin: $navbar-height-mobile auto 0 auto;
  }
}
